@import 'default.css';
@import url('https://webfontworld.github.io/pretendard/Pretendard.css');

html, body{
  font-size:16px;
}
body{
  background:rgb(255, 246, 238);
  font-family:'Pretendard', '맑은 고딕', sans-serif;
}
section{
  width:100%;
}
h1{
  width:80%; margin:auto;
  padding-top:50px;
}
a{
  display:block; color:#333;
}
img{
  width:100%; height:auto;
}
button{
  cursor:pointer;
}
.wrapper{
  position:absolute; left:50%; top:50%;
  transform:translate(-50%,-50%);
  width:800px; height:360px;
  border:4px solid #deb9a4;
  background:#fff; 
}
.btn_start, .replay{
  padding:5px 10px;
  background:#fff;
  border:3px solid #333; border-radius:5px;
  font-weight:600;
  text-align:center;
  font-size:2.1rem;
}
.btn_start:hover, .replay:hover{
  background:#f4f4f4;
  border-color:#5d5d5d;
}
.btn_start:active, .replay:active{
  background:#fff;
  border-color:#333;
}

/* 시작화면 */
.btn_start{
  position:absolute; left:50%; bottom:40px;
  transform:translateX(-50%);
}


/* 메인화면 */
.header{
  display:flex; justify-content: space-between;
  align-items:center;
  padding:5px 0;
}
.header .score{
  margin:auto;
  font-size:2rem;
}
.element_wrap{
  gap:65px; 
}
.element_wrap .field{
display:flex; justify-content: space-around;
align-items: end;
}
.player, .opponent{
  width:226px;
}
.field .opponent{
  order:3;
}
.field .name{
  font-size:1.2rem;
  text-align:center;
  padding-bottom:10px;
}
.comment{
  position:absolute; left:50%; top:50%;
  transform:translate(-50%,-50%);
  font-size:2rem;
}
.btn_wrap{
  display:flex;
  justify-content:center;
  gap:50px;
}
.btn_wrap img{
  width:80%; margin:0 auto;
}
.btn_wrap button{
  width:60px; height:60px;
  border:5px solid rgb(254, 247, 178);
  border-radius:50%;
  background:#ffffef;
  opacity:0.6;
}
.btn_wrap button:hover{
  opacity:1;
}

/* 결과창 */
.result{
  display:flex; justify-content:center;
  align-items:center;
  height:100%;
}
h3{
  margin-bottom:10px;
  font-size:5rem;
}
.replay{
  width:100px;
  margin:auto;
  padding:10px 15px;
  font-size:1.5rem;
}




